<div style="margin-bottom: 200px;">
<h4>Cart</h4>
<div id="quantityValidationMessage"></div>
<form id="checkoutForm" method="POST" action="/cart">
<table class="table table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for (let index = 0; index < jewels.length; index++) { %>
            <% const maxQuantity = jewels[index].quantity; %>
            <tr>
                <td><%= jewels[index].name %></td>
                <td><%= jewels[index].price %></td>
                <td><img class="card-img-top" style="width: 100px;" src="data:image/png;base64,<%= jewels[index].image %>" alt="..."></td>
                <td>
                    <input type="number" name="quantity" value="1" data-index="<%= index %>" data-max="<%= maxQuantity %>" class="quantity-input">
                </td>
                <td>
                    <span data-subtotal="<%= jewels[index].price %>" id="subTotal_<%= index %>"><%= jewels[index].price %></span>
                    <input type="hidden" name="recordId" value="<%= jewels[index]._id %>">
                    <input type="hidden" name="dbQuantity" value="<%= jewels[index].quantity %>">


                </td>
                <td>
                    <a href="/remove-from-cart/<%= jewels[index]._id %>" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th id="total"><%= total.toFixed(2) %></th>
            <% if (total == 0) { %>
                <th>
                    <button class="btn btn-primary" disabled>Check Out</button>
                </th>
            <% } else { %>
                <th>
                    <button type="submit" class="btn btn-primary">Check Out</button>
                </th>
            <% } %>
        </tr>
    </tfoot>
</table>
</form>
</div>

<script>
    function validate(quantityInput, index, maxQuantity, price) {
        const quantity = parseInt(quantityInput.value);
        const validationMessageElement = document.getElementById("quantityValidationMessage");
        const subTotalElement = document.getElementById("subTotal_" + index);

            const updatedQuantity = parseInt(quantityInput.value);
            const subTotal = updatedQuantity * price;
            subTotalElement.innerText = subTotal.toFixed(2);

            updateTotal();
        }
    

    function updateTotal() {
        let newTotal = 0;

        const quantityInputs = document.querySelectorAll('.quantity-input');
        quantityInputs.forEach(function (input) {
            const index = parseInt(input.getAttribute('data-index'));
            const price = parseFloat(document.getElementById("subTotal_" + index).getAttribute('data-subtotal'));
            const quantity = parseInt(input.value);
            const subTotal = quantity * price;
            newTotal += subTotal;
        });

        const totalElement = document.getElementById("total");
        totalElement.innerText = newTotal.toFixed(2);
    }

    const quantityInputs = document.querySelectorAll('.quantity-input');
    quantityInputs.forEach(function (input) {
        input.addEventListener('input', function () {
            const index = parseInt(input.getAttribute('data-index'));
            const maxQuantity = parseInt(input.getAttribute('data-max'));
            const price = parseFloat(document.getElementById("subTotal_" + index).getAttribute('data-subtotal'));
            validate(input, index, maxQuantity, price);
        });
    });
</script>
