<h1>Welcome Admin <%= user.name %></h1>

<a class="btn btn-primary" style="margin-left: 30px; width: 100px; height: 30ox;"  href="/add">Add</a>
<div class="proClass">
<% records.forEach((record) => { %>
    <div class="card col-3 product" >
      <img src="data:image/png;base64,<%= record.image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= record.name %></h5>
        <p class="card-text">Price: <%= record.price %> </p>
        <a href="/edit/<%= record._id %>" data-record-id="<%= record._id %>" class="btn btn-primary" style="background-color:#bea571; border: #bea571; color: white;">Edit</a>
        <a href="/delete/<%= record._id %>" class="btn btn-danger" >Delete</a>

      </div>
    </div>
  <% }); %>
</div>

